@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  --dot-size: 1.5rem;
  --dot-position: 1rem;
  --shadow-color: 25deg 5% 58%;
  --shadow-elevation-high:
    0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
    0.1px 5.8px 6.5px -0.4px hsl(var(--shadow-color) / 0.34),
    0.1px 10.9px 12.3px -0.7px hsl(var(--shadow-color) / 0.34),
    0.2px 17.9px 20.1px -1.1px hsl(var(--shadow-color) / 0.34),
    0.3px 28.6px 32.2px -1.4px hsl(var(--shadow-color) / 0.34),
    0.4px 44.7px 50.3px -1.8px hsl(var(--shadow-color) / 0.34),
    0.6px 67.9px 76.4px -2.1px hsl(var(--shadow-color) / 0.34),
    0.9px 100px 112.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-high-hover:
    -0.5px 1px 1.3px hsl(var(--shadow-color) / 0.34),
    -2.9px 5.8px 7.3px -0.4px hsl(var(--shadow-color) / 0.34),
    -5.4px 10.9px 13.7px -0.7px hsl(var(--shadow-color) / 0.34),
    -8.8px 17.9px 22.4px -1.1px hsl(var(--shadow-color) / 0.34),
    -14.1px 28.6px 35.9px -1.4px hsl(var(--shadow-color) / 0.34),
    -22.1px 44.7px 56.1px -1.8px hsl(var(--shadow-color) / 0.34),
    -33.6px 67.9px 85.2px -2.1px hsl(var(--shadow-color) / 0.34),
    -49.4px 100px 125.5px -2.5px hsl(var(--shadow-color) / 0.34);

  @apply w-[100vw] h-[100vh] overflow-hidden font-serif;
}

body {
  @apply bg-[#efecea] dark:bg-[#3c3c3c] flex justify-center items-center m-0 p-0;
}

.howbizarre {
  @apply relative z-0;
}

.vc {
  @apply w-full h-full max-w-[480px] max-h-[480px] relative flex flex-col justify-center text-center bg-zinc-50 dark:bg-zinc-800 rotate-[357deg] transition-all duration-[250ms] z-10;
  box-shadow: var(--shadow-elevation-high);
  transform-origin: calc(var(--dot-position) + calc(var(--dot-size) / 2)) calc(1rem + calc(1.5rem / 2));
  padding: calc(var(--dot-position) * 2);
  border-radius: var(--dot-size);
}

.vc::after {
  @apply block content-[''] absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: var(--dot-size);
  left: var(--dot-position);
  top: var(--dot-position);
  box-shadow:
    inset 0 2.8px 2.2px rgba(0, 0, 0, 0.004),
    inset 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    inset 0 12.5px 10px rgba(0, 0, 0, 0.04),
    inset 0 22.3px 17.9px rgba(0, 0, 0, 0.062),
    inset 0 41.8px 33.4px rgba(0, 0, 0, 0.08),
    inset 0 100px 80px rgba(0, 0, 0, 0.1);
}

.dark .vc::after {
  box-shadow:
    inset 0 2.8px 2.2px rgba(255, 255, 255, 0.004),
    inset 0 6.7px 5.3px rgba(255, 255, 255, 0.028),
    inset 0 12.5px 10px rgba(255, 255, 255, 0.04),
    inset 0 22.3px 17.9px rgba(255, 255, 255, 0.062),
    inset 0 41.8px 33.4px rgba(255, 255, 255, 0.08),
    inset 0 100px 80px rgba(255, 255, 255, 0.1);
}

.vc h1 {
  @apply font-cursive mb-0 text-[2em] font-extralight text-black dark:text-white;
  margin-top: calc(var(--dot-position) * 3);
}

.vc p {
  @apply mb-0 text-black dark:text-white font-thin;
}

.github {
  @apply absolute left-[22px] bottom-[59px] -z-[1] hover:z-20;
}

.linkedin {
  @apply absolute left-[22px] bottom-[22px] -z-[1] hover:z-20;
}

.howbizarre:hover .vc,
.howbizarre:active .vc {
  @apply rotate-[350deg];
  box-shadow: var(--shadow-elevation-high-hover);
}

@media (max-width:640px) {
  .vc { max-width: 280px; }
}